@import url(https://occ.a.nflxso.net/genc/hawkins/5.11.1/font/netflix-sans-core-variable-full.woff2);



*{
    padding: 0;
    margin: 0;



}
    
body{
    background-color: black;
}
.main{
    background-image: url(assets/img/bg.jpg);
    background-position: center center;
    height: 100vh;
    
    
    
    background-repeat: no-repeat ;
    
}
.main .box{
    height: 100vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    background-color: black;
    top: 0;
    



}
nav{
    max-width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    
}
nav img {
    filter: invert(15%) sepia(100%) saturate(6000%) hue-rotate(0deg);
    color: red;
    position: relative;

    width: 114px;
     
}
nav button{
    position: relative;
    z-index: 10;

}
.hero {
    text-align: center;
    color: #ffffff;            
    font-weight: 700;
    justify-content: center;
    position: relative;
    text-align: center;
    flex-direction: column;
    display: flex;
    height: 80vh;
    
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;

    font-weight: bolder;
                 /* full screen height */
}




.hero h1 {
    font-size: 3rem;
    font-weight: 900;          /* extra bold */
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255,255,255,0.4);
    align-items: center;
    justify-content: center; /* brightness glow */
}
.hero h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #f5f5f5;            /* slightly soft white */
    margin-top: 12px;
    align-items: center;
    justify-content: center; /* brightness glow */
}
.separation{
    height: 7px;
    background-color: gray;




}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    border-radius: 1px solid white;



}
.btn-red{
    padding: 7px ;
    font-size: 40px;
    border-radius: 4px;
    cursor: pointer;
    background-color: red;

}
.main input{
    padding: 8px;
    font-size: 20px;
    border-radius: 2px;
    font-weight: 100;
    background-color: rgba(23,23,23, 0.1);
    


}
.btn-red-sm{
    background-color: red;
    padding: 8px ;
    color: white;
    
    font-size: 20px;
    cursor: pointer;

}
.btn-red-tm{
    background-color: red;
    padding: 4px 24px ;
    color: white;
    
    font-size: 20px;
    cursor: pointer;

}
.btn-white{
     background-color: rgba(23,23,23, 0.1);
     color: white;
     cursor: pointer;
     padding: 8px;
    font-size: 20px;
    padding: 4px 24px;
}
.secimg{
    display: flex;
    padding: 50px;
    margin: 50px;
    margin-left: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 20px;
    padding: 20px;
    scrollbar-width: none;          /* Firefox */
    -ms-overflow-style: none; 
    animation-delay: 800ms;
    transition: transform 0.9s ease, filter 0.3s ease;
    margin-bottom: 30px;
    
    

    
}
.secimg img:hover,
.secimg img:active {
    transform: scale(1.10);      
    filter: brightness(1.25);    
}
text{
    color: #f5f5f5;
    background-color: #f5f5f5;

}
.separation h1{
    color: white ;
    position: absolute;
    margin-left: 20px;

    
}





